.page {
	display: grid;
	grid-template-columns: var(--size--sidebar) 1fr;
	align-items: stretch;
	justify-items: center;
	height: 100dvh;
}

@media (max-width: 790px) {
	.page {
		display: flex;
		flex-direction: column;
	}
}
