.sidebar {
	display: flex;
	flex-direction: column;
	gap: calc(var(--spacing) * 2);
	padding: calc(var(--spacing) * 3) var(--spacing);
	background: var(--background-02);
	border-right: 2px solid var(--background-03);
}

.sidebar header {
	text-align: center;
}

.sidebar h1 {
	margin-block-end: var(--spacing);
}
